<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Gestion Evenement</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/home}">Home</a>
			
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item "><a class="nav-link" th:href="@{/evenement}">Evenement
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/personne}">Personnes</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<section layout:fragment="content"></section>

	<footer>
		<div class="navbar fixed-bottom">
			<small>@Gestions événements - TOURS </small>
		</div>
	</footer>
</body>
</html>